.features {
    min-height: 100vh;
    padding: 80px 1rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.feature {
    display: flex;
    gap: 2rem;
    max-height: fit-content;
    align-items: center;
}

.feature p {
    color: grey;
    text-align: justify;
}

.featureLeft {
    flex: 1;
}

.featureLeft h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.featureRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.featureRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.featureRight img:hover {
    scale: 1.1;
}

.feature:nth-child(odd) {
    flex-direction: row-reverse;
}