@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --color-purple: #8354ff;
  --gradient: linear-gradient(to right, #8753ff, #5381ff);
  --hover-gradient: linear-gradient(to left, #8753ff, #5381ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

.App {
  max-width: 1200px;
  margin: auto;
}

.sectionTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}